.header-section
{
    background-color: darkblue;
}

.header-logo{
}
.header-logo img {
    max-width: 71px;
    margin-top: 12px;
    margin-left: 117px;}}
.header-menu{}
.header-menu ul{
    margin-bottom: 0px;
    margin-left: 85px;
 }
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: -4px;
    font-size: 14.4px;
    padding: 0 18px;
    line-height: 65px;
}

/* banner section */
.banner-section{
    background: url(./img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0;
}
.about-section{
    background-color: #bac1f3;
}
.about-section h2 {
    font-size: 46px;
    font-weight: 400;
    padding: 91px 0 50px;
}
.about-section h5{
    margin-top: 4px;
}
.about-us{
    background-color: #c2d4ea;
}
.about-us h2{
    font-size: 45px;
    font-weight: 400;
    padding: 75px 0 18px;
}
.footer-section  p {
    width: 400px;
    margin: auto;
}
.contect-section h2 {
    font-weight: 400;
    font-size: 37px;
}